<mat-card>
    <mat-card-header>
        <mat-toolbar>
            <mat-card-title>
                <h4>Searchbar TEMPORARY page</h4>
            </mat-card-title>
        </mat-toolbar>
    </mat-card-header>

    <mat-card-content>
        <mat-form-field matInput style="margin-left: 30px; width: 100px; margin-right: 10px;">
            <select matNativeControl style="width: 100px;" [formControl]="filterCtrl">
                <option value="all" selected>All</option>
                <option value="movie">Movie Titles</option>
                <option value="television">TV Episodes</option>
                <option value="celeb">Celebrities</option>
                <option value="date">Date</option>
            </select>
        </mat-form-field>
        
        <mat-form-field style="width: 400px;">
            <mat-label>Search MovieCorner</mat-label>
            <input matInput placeholder="Search MovieCorner" aria-label="MovieCorner" [matAutocomplete]="searchAutocomplete"
                [formControl]="searchBarCtrl" (click)="$event.target.select()">
            <mat-autocomplete #searchAutocomplete="matAutocomplete" [displayWith]="displaySearchFn">
                <mat-option *ngFor="let movie of filteredMovies | async" [value]="movie" (onSelectionChange)="movieSelected($event, movie)">
                    <span>{{movie.primaryTitle}}</span>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <button mat-button (click)="searchButtonClick()">
            <mat-icon>search</mat-icon>
        </button>
    </mat-card-content>

    <mat-card-actions>
    </mat-card-actions>
</mat-card>

<router-outlet></router-outlet>