.full-width {
    width:100%;
    }
    
    .form-width {
        min-width: 150px;
        max-width: 500px;
        width: 100%
    }

    .zalz {
        background-color:  	paleturquoise;
        }

        
    .balz {
        background-color: lightcyan;
        }