<mat-card>
    <mat-card-header>
        <mat-toolbar>
            <mat-card-title><h4>Movie Corner: Registration Form</h4></mat-card-title>
        </mat-toolbar>
    </mat-card-header>

    <mat-card-content *ngIf="this.users">
        <form class="form-width">
            <mat-form-field class="full-width">
            <input matInput placeholder="User ID" [formControl]="userIdInput">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="User Name" [formControl]="userNameInput"
            required minlength="3" maxlength="40">
            <mat-error *ngIf="userNameInput.invalid">Enter item name: 3 - 40 characters</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Full Name" [formControl]="fullNameInput" 
            required minlength="3" maxlength="40">
            <mat-error *ngIf="fullNameInput.invalid">Enter item name: 3 - 40 characters</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Password" [formControl]="passwordInput" 
            required minlength="3" maxlength="40">
            <mat-error *ngIf="passwordInput.invalid">Enter item name: 3 - 40 characters</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Created" [formControl]="createdInput" 
            required minlength="3" maxlength="40">
            <mat-error *ngIf="createdInput.invalid">Enter item name: 3 - 40 characters</mat-error>
        </mat-form-field>
        </form>

    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="getPreviousButtonClick()" [disabled]="this.index == 0"><mat-icon>arrow_back</mat-icon></button>
        <button mat-button (click)="getNextButtonClick()" [disabled]="this.index == this.lastIndex"><mat-icon>arrow_forward</mat-icon></button>
        <button mat-button (click)="newButtonClick()"><mat-icon>save</mat-icon></button>
    </mat-card-actions>


</mat-card>
