<mat-card>
    <mat-card-header>
        <mat-toolbar>
            <mat-card-title><h2>Movie Corner: Title Basics</h2></mat-card-title>
        </mat-toolbar>
    </mat-card-header>

    <!-- <mat-card-content *ngIf="this.title_basics[this.index]"> -->

        <form class="form-width">
            <mat-form-field class="full-width">
            <input matInput placeholder="Tconst" [formControl]="TconstIdInput">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="Title Type" [formControl]="TitleTypeInput">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="Primary Title" [formControl]="PrimaryTitleInput">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="Original Title" [formControl]="OriginalTitleInput">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="isAudit" [formControl]="IsAuditInput">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="Start Year" [formControl]="StartYearInput">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="End Year" [formControl]="EndYearInput">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="Run Time" [formControl]="RunTimeInput">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="Genre" [formControl]="GenreInput">
        </mat-form-field>
        </form>
        
<!-- </mat-card-content> -->

    <mat-card-actions>
        <button mat-button (click)="getPreviousButtonClick()" [disabled]="this.index == 0"><mat-icon>arrow_back</mat-icon></button>
        <button mat-button (click)="getNextButtonClick()" [disabled]="this.index == this.lastIndex"><mat-icon>arrow_forward</mat-icon></button>
    </mat-card-actions>

</mat-card>